*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #ccccaa;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.header{
    background: url("../images/logo.jpg");
    height: 200px;
}
h1 {
    text-indent: 190px;
    color: white;
    font-size: 300%;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    color: #ccc29d;
    height: 170px;
    width: 100px;
    background-color: #cc6600;
}