*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #ccccaa;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    background: white;
}
.header{
    background: url("../images/logo.jpg");
    height: 200px;
}
h1 {
    text-indent: 190px;
    color: white;
    text-transform: uppercase;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    color: #ccc29d;    
    list-style-type: none;
}
ul::after{
    content: "";
    clear: both;
    display: table;
}
li {
    float: left;
    width: 12.5%;
    border: 1px solid white;
    text-align: center;
}
li:first-child{
    border-left: none;
}
li:last-child{
    border-right: none;
}
a {
    width: 100%;
    background: #cc6600;
    display: inline-block;
    padding: 10px;
    color:#cc9b8b;
    text-decoration: none;
    font-size: .8rem;
}
a:hover{
    text-decoration: underline;
    color: white;
}
.news {
    width: 50%;
    float: left;
    text-align: justify;
    padding: 0 10px;
}
content::after{
    content: "";
    clear: both;
    display: table;
}
.kiskep1{
    float: left;
    margin: 5px 5px 5px 0;
}
.kiskep2{
    float: right;
    margin: 0 0 5px 5px;
}